<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🍰 rtd</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A custom react-typescript boilerplate to get your next project started."
    />
    <meta
      name="og:title"
      property="og:title"
      content="A custom react-typescript boilerplate to get your next project started."
    />
    <meta
      name="twitter:card"
      content="A custom react-typescript boilerplate to get your next project started."
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#235390" />
    <meta name="background-color" content="#235390" />
    <meta name="author" content="Marcelo Cardoso" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="apple-touch-icon" href="/logo-192.png" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
  {% load static %}
  <script src="{% static "frontend/index.js" %}"></script>
  <noscript>Javascript is not enabled on your browser</noscript>
</html>
