{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#0C4B33" />
    <meta name="background-color" content="#0C4B33" />
    <meta name="author" content="Marcelo Cardoso" />
    <link rel="icon" type="image/png" href="{% static "frontend/logo-32.png" %}" />
    <link rel="manifest" href="{% static "frontend/manifest.json" %}" />
    <link rel="apple-touch-icon" href="{% static "frontend/logo-512.png" %}"/>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Barlow&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />  
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="{% static "frontend/index.js" %}"></script>
  <noscript>Javascript is not enabled on your browser</noscript>
</html>
